<?xml version="1.0" encoding="utf-8"?>
<config>
  <ou></ou> <!-- Search base OU, if needed -->
  <user>
    <!-- If the next element exist, the script refers to user as domain\samAccountName -->
    <!-- Otherwise, the script refers to user as userPrincipalName -->
    <!-- <useSamAccountName /> -->

    <!-- If the next element exist, the script takes e-mail from user's manager account, when available -->
    <!-- Otherwise, the user own mail attribute is used -->
    <!-- <useManagerMail /> -->
  </user>
  <server>mail</server>
  <mail>
    <from>PasswordNotifier@localhost</from>
    <subject>Your password expires soon</subject>
    <body>Dear User,

Password of Your user account ({0}) expires in {1} days.
Please change Your password ASAP.
    </body>
  </mail>
  <reportfile></reportfile><!-- .CSV file full path if reporting is required. -->
</config>