<?xml version="1.0" encoding="utf-8" ?>
<config>
	<user>
		<!-- If the next element exist, the script refers to user as domain\samAccountName -->
		<!-- Otherwise, the script refers to user as userPrincipalName -->
<!--
		<useSamAccountName />
-->
	</user>
	<server>mail</server>
	<mail>
		<from>PasswordNotifier@localhost</from>
		<subject>Sinu parool aegub varsti</subject>
		<body>Kallis kasutaja,

Sinu konto ({0}) parool aegub {1} päeva pärast.
Muuda palun esimesel võimalusel oma parooli.

Dear User,

Password of Your user account ({0}) expires in {1} days.
Please change Your password ASAP.
		</body>
	</mail>
</config>